:root {
  --fuente: "Roboto", sans-serif;

  --blanco: #fff;
  --negro: #000;
  --rosaOscuro: rgb(246, 154, 154);
  --rosaClaro: rgb(240, 209, 214);
  --grisOscuro: rgb(128, 128, 128);
  --grisClaro: rgb(185, 184, 184);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  /*1rem = 10px*/
}
body {
  display: grid;
  font-family: var(--fuente);
  background: linear-gradient(
    135deg,
    white 10%,
    rgba(251, 3, 3, 0.251),
    white 90%
  );
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
img {
  max-width: 85%;
}
h1, h2, h3 {
  text-align: center;
  font-family: var(--fuenteHeading);
  line-height: 1.2;

}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}

/*  --HEADER--  */
.header {
  background-color: var(--grisOscuro);
}
.contenedor_header {
  padding: 1rem;
  margin: 0 auto;
  width: min(90%, 1250px);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 5px;

  grid-template-areas:
    "nav logo carrito"
    "buscar buscar buscar";
}
.titulo_logo {
  font-size: 1.2rem;
  display: none;
}
.logo span {
  display: flex;
  font-size: 2rem;
}
.img_logo {
  width: 10rem;
}
.logo {
  text-align: center;
  grid-area: logo;
  display: flex;
  justify-content: center;
}
.carrito {
  grid-area: carrito;
  display: flex;
  justify-content: end;
}
.buscar {
  /* font-size: 2.5rem; */
  /* grid-row-start: 2 ;
    grid-column: 1 / 4; */
  grid-area: buscar;
}
.search {
  width: 80%;
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.logo,
.buscar {
  display: flex;
  justify-content: center;
}
/*  --NAV--  */
.nav {
  grid-area: nav;
  /* grid-row-start: 1;
    grid-column-start: 1; */
}
.nav_menu {
  background-color: rgb(28, 27, 27);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 2rem;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  width: 40%;
}
.nav_menu.visible {
  opacity: 1;
  visibility: visible;
}
.nav_lista {
  /* display: flex;
    flex-direction: column; */
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 5rem;
  /* gap: 2.5rem; */
}

.nav_lista a {
  color: rgb(241, 94, 94);
}
.abrir_menu,
.cerrar_menu,
.carro {
  border: 0;
  font-size: 3.5rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/*  --MAIN--  */

/*  --PRODUCTOS--  */
/* .contenedor_productos {
  max-width: 120rem;
  margin: 0 auto;
} */
.productos-bg {
  background-image: url(../img/bg-3.jpg);
  height: 40rem;
  width: 95%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blanco);
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 20px var(--grisOscuro);
}
.producto_imagen {
  border-radius: 10px;
}
.producto_nombre {
  font-size: 2.5rem;
}
.producto_precio {
  font-weight: bold;
  font-size: 2rem;
}
.producto_nombre,
.producto_precio {
  font-family: var(--fuente);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}
.boton_carrito {
  width: 90%;
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  background-color: var(--grisOscuro);
  color: var(--blanco);
  font-weight: bold;
}

/*  --RESENAS-- */
.resenas-bg {
  background-image: url(../img/bg-2.jpg);
  height: 40rem;
  width: 95%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.contenedor_resenas {
  width: 85%;
  margin: 20px auto;
}
.review {
  background-color: #fff;
  border: 1px solid #4e4141;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px rgb(72, 70, 70);
}
.review_resenas {
  width: 85%;
  margin: 0 auto;
}
.review h3 {
  text-align: left;
}
.review p {
  color: #555;
  font-size: 1.5rem;
}
.stars {
  margin-bottom: 1.2rem;
  color: gold;
}

/*  --CONTACTO--  */
.sub_titulo {
  margin: 2rem auto 5rem auto;
  text-shadow: 3px 3px 5px rgb(133, 103, 103);
}
.contacto-bg {
  background-image: url(../img/bg-1.jpg);
  height: 40rem;
  width: 95%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.formulario {
  background-color: var(--blanco);
  margin: -3rem auto 0 auto;
  width: 85%;
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(72, 70, 70);
}
.mensaje {
  text-align: center;
}
.campo {
  display: flex;
  margin: 2rem;
  gap: 2rem;
}
.campo_label {
  flex: 0 0 15rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  align-content: center;
}
.campo_field {
  width: 95%;
  padding: 1rem;
}
.boton_enviar {
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blanco);
  cursor: pointer;
  padding: 1.2rem 2rem;
  background-color: var(--grisOscuro);
}

/*  --FOOTER--  */
.footer {
  text-align: center;
  background-color: var(--grisClaro);
  padding: 2rem;
  color: white;
  font-size: 1.2rem;
  margin-top: 10rem;
}
@media (max-width: 426px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .productos-bg, .contacto-bg, .resenas-bg {
    max-height: 15rem;
    
  }
  .sub_titulo {
    margin: 1.2rem auto;
  }
  .contenedor_resenas {
    width: 95%;
    margin: 20px auto;
  }
  .formulario {
    width: 95%;
    margin-top: -1rem
  }
  .review {
    margin-bottom: .5rem;
    padding: 1.2rem;
  }
  .review_resenas {
    width: 95%;
  }
}
@media (max-width: 768px) {
  
  .review h3 {
    padding: 0;
  }
  .formulario {
    padding: 0 2rem;
  }
    h3 {
      font-size: 1.8rem;
      padding: 2rem 0; 
    }
    .productos-bg, .contacto-bg, .resenas-bg {
      height: 25rem;
      width: 100%;
    }
    .campo {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 1rem;
      gap: 0;
    }
    .campo_label {
      flex: 0 0 0;

      /* height: 5rem; */
    }
    .campo_field {
      /* width: 90%; */
      margin-bottom: 1.5rem;
      gap: 0;
    }
    .boton_enviar {
      padding: 1rem 1.2rem;
      margin: 1rem;
    }
    .footer {
      margin-top: 4rem;
    }
}

@media (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(
      4, 1fr);
      width: 70%;
      margin: 2rem auto;
  }
  .contenedor_header {
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    grid-template-areas:
      "logo buscar carrito"
      "nav nav nav";
    grid-template-columns: 30% 40% 30%;
  }
  .abrir_menu,
  .cerrar_menu {
    display: none;
  }
  .nav_menu {
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    position: relative;
    /* bottom: 0; */
    padding: 2rem;
    box-shadow: none;
    width: 100%;
    padding: 5px 0;
  }
  .nav_lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid black;
  }
  .nav_lista a {
    color: var(--rosaClaro);
  }
  .nav_lista a:hover {
    color: var(--rosaOscuro);
    font-size: 1.8rem;
  }
  .buscar {
    height: 2.5rem;
  }
  .search {
    width: 100%;
  }
  .titulo_logo {
    color: var(--rosaOscuro);
    font-size: 1.2rem;
    display: block;
  }
  .productos-bg, .contacto-bg, .resenas-bg {
    height: 40rem;
    width: 70%;
  }
  .article {
    width: 65%;
    margin: 0 auto;
  }
  .contenedor_resenas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    margin: 20px auto;
  }
  .review {
    margin: 1.2rem;
  }
  .review_resenas {
    width: 90%;
    margin: 0 auto;
  }
  .formulario {
    width: 60%;
  }
}
